<%= month_calendar do |date| %>
  <% reservation_schedule = ReservationSchedule.find_by(date: date) %>
  <%= link_to date.day, edit_admin_reservation_schedule_path(date) %>
  <% if reservation_schedule %>
    <div>
      <%= reservation_schedule.start_time.strftime('%H:%M') %> - <%= reservation_schedule.end_time.strftime('%H:%M') %>
    </div>
  <% end %>
<% end %>
